.chat-button {
  height: 140px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 28px;
  width: 280px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container .log {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid black;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}


.form-container .div:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.panelContainer{
  background: #523C1E;
  width: 80%;
  margin: 0 auto;
}
.panelContainer p{
  background: #d7f7f5;/*Paragraph background color*/
  padding: 15px;
  color: #2a6171;/*Paragraph font colour*/
}

h2{
  margin-bottom: 2px;
  padding: 3px 0 2px 25px;
  background: #75cac3;
}
p{
  margin-top: 0;
  padding-top: 0;
}