
h2{
  padding:5px;
}
#heading{
    text-align: center;
    font-size: 18px;
}
#faq-main{
     display:flex;
     background-color: #d1ffea;
}
#que-ans{
    margin-top:50px;
    margin-right:10px;
    
}
#faqlink{
  text-decoration: underline;
}