#listofclients_adminside{
	background-color: silver; 
   padding-top:15px;
   padding-left:5px;
}
#listofsubcribers_adminside{
	background-color: silver; 
   padding-top:15px;
   padding-left:5px;
}
h1{
    text-align: center;
}